<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="common_macros.urdf.xacro" />

  <xacro:property name="body_z_offset"           value="${-2.5*cm2m}" />
  <xacro:property name="body_collision_z_offset" value="${1*cm2m}" />
  <xacro:property name="body_mass"               value="2.300" />
  <xacro:property name="body_radius"             value="${16.4*cm2m}" />
  <xacro:property name="body_length"             value="${6*cm2m}" />
  <xacro:property name="body_cog_x_offset"       value="${2.28*cm2m}" />
  <xacro:property name="base_link_z_offset"      value="${6.42*cm2m}"/>
  <xacro:property name="wheel_mass"              value="0.2" />

  <xacro:macro name="create_wheel" params="prefix y_offset wheel_radius wheel_width">
    <link name="${prefix}_wheel_link">

    <visual>
      <origin xyz="0 0 0" rpy="0 ${pi/2} ${pi/2}" />
      <geometry>
        <cylinder radius="${wheel_radius}" length="${wheel_width}" />
      </geometry>
      <xacro:insert_block name="material_black"/>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 ${pi/2} ${pi/2}" />
      <geometry>
        <cylinder radius="${wheel_radius}" length="${wheel_width}" />
      </geometry>
    </collision>
    <xacro:inertial_cylinder mass="${wheel_mass}" radius="${wheel_radius}"
      length="${wheel_width}" />
    </link>


   <joint name="${prefix}_wheel_joint" type="continuous">
      <origin xyz="0 ${y_offset} 0.015" rpy="0 0 0" />
      <parent link="base_link" />
      <child link="${prefix}_wheel_link" />
      <axis xyz="0 1 0" />
    </joint>
  </xacro:macro>

  <xacro:macro name="create_base" params="wheel_separation wheel_radius:=0.036 wheel_width:=0.015 wheel_torque:=1.0 wheel_accel:=1.8 *mesh">

   <link name="base_footprint">
      <inertial>
        <mass value="1.0"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/>
      </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.01 0.01" />
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0.017" rpy="0 0 0" />
      <geometry>
        <box size="0.001 0.001 0.001" />
      </geometry>
    </collision>
   </link>

   <link name="base_link">
      <inertial>
        <mass value="2.061" />
	<origin xyz="0.003 -0.0005 0.0004" rpy="0 0 0" />
	<inertia ixx="0.05" ixy="0" ixz="0" iyy="0.05" iyz="0" izz="0.08" />
      </inertial>

    <visual>
      <origin xyz="0 0 ${body_z_offset + base_link_z_offset}" rpy="0 0 ${pi/2}"/>
      <geometry>
        <xacro:insert_block name="mesh" />
      </geometry>
    </visual>

    <collision name="create2_base_collision">
      <origin xyz="0 0 ${body_z_offset + body_collision_z_offset  + base_link_z_offset}" rpy="0 0 ${pi/2}"/>
      <geometry>
        <cylinder length="${body_length}" radius="${body_radius}"/>
      </geometry>
    </collision>
    <xacro:inertial_cylinder_with_pose mass="${body_mass}" radius="${body_radius}" length="${body_length}">
      <origin xyz="${body_cog_x_offset} 0 ${body_collision_z_offset + base_link_z_offset}"/>
    </xacro:inertial_cylinder_with_pose>
    </link>

    <joint name="base_footprint_joint" type="fixed">
      <origin xyz="0 0 0.017" rpy="0 0 0" />
      <parent link="base_footprint" />
      <child link="base_link" />
    </joint>

    <xacro:create_wheel prefix="left" y_offset="${wheel_separation / 2}" wheel_radius="${wheel_radius}" wheel_width="${wheel_width}"/>
    <xacro:create_wheel prefix="right" y_offset="${wheel_separation / -2}" wheel_radius="${wheel_radius}" wheel_width="${wheel_width}"/>

    <link name="front_wheel_link">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="0.01" />
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 ${pi/2} ${pi/2}" />
      <geometry>
        <sphere radius="0.018" />
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 ${pi/2} ${pi/2}" />
      <geometry>
        <sphere radius="0.018" />
      </geometry>
    </collision>
    </link>

    <!-- fixed because there's no transmission -->
    <joint name="front_castor_joint" type="fixed">
      <origin xyz="0.13 0 0.0" rpy="0 0 0" />
      <parent link="base_link" />
      <child link="front_wheel_link" />
      <axis xyz="0 1 0" />
    </joint>

    <xacro:include filename="tabletop.urdf.xacro" />
    <xacro:include filename="mock_gazebo.urdf.xacro" />

    <!-- table top and legs-->
    <xacro:tabletop z_offset="0.08" /> 

    <!-- Simulation sensors -->
    <xacro:sim_create_base wheel_separation="${wheel_separation}" wheel_radius="${wheel_radius}"/>
    <xacro:sim_imu/>
  </xacro:macro>
</robot>
